
<% content_for :title do %>My super sweet dashboard<% end %>
    <div class="gridster">
        <ul>
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
        <div data-id='news_56b99553c44c2823254a026e' data-view="List3" data-title="Viral Stories" ></div>
        </li>
            <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id='twitter_mentions1_56b99553c44c2823254a026e' data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id='twitter_mentions2_56b99553c44c2823254a026e' data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id='twitter_mentions3_56b99553c44c2823254a026e' data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id='twitter_mentions4_56b99553c44c2823254a026e' data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
		<div data-id='reddit_56b99553c44c2823254a026e' data-view="Reddit" ></div>
	    </li>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id='youtube_player1_56b99553c44c2823254a026e' data-view="Iframe" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id='youtube_player2_56b99553c44c2823254a026e' data-view="Iframe" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id='youtube_player3_56b99553c44c2823254a026e' data-view="Iframe" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id='youtube_player4_56b99553c44c2823254a026e' data-view="Iframe" style="background-color: #c0392b"></div>
    </li>
    </ul>
   </div> 