<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
     
	 <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id="youtube_player1" data-view="Iframe" data-title="Channel: OYO" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id="youtube_player2" data-view="Iframe" data-title="Channel: ScoopWhoop" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id="youtube_player3" data-view="Iframe" data-title="Channel: TVF" style="background-color: #c0392b"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-sizey="1">
        <div data-id="youtube_player4" data-view="Iframe" data-title="Channel: AIB" style="background-color: #c0392b"></div>
    </li>
	
	 <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
        <div data-id="news" data-view="List3" data-title="NewsWhip" ></div>
		
	</li>
  
   
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="twitter_mentions1" data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="twitter_mentions2" data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="twitter_mentions3" data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="twitter_mentions4" data-view="Comments" data-title="Tweets" style="background-color: #71388a"></div>
    </li>
	
	<li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
		<div data-id="reddit" data-view="Reddit" ></div>
	</li>
	
	
</div>

