<html>
<body>
    
    <form method="post">
    <table>
    
        <tr><th><label for="subreddit">Reddit</label></th><td><input  type="text" id="subreddit" name="subreddit"/><div class="post" style="display: none;"></div></td><th><label for="add"></label></th><td><button id="add" name="add">Add</button><div class="post" style="display: none;"></div></td></tr>
        
        <tr><th><label for="subreddit">Twitter</label></th><td><input  type="text" id="subreddit" name="subreddit"/><div class="post" style="display: none;"></div></td><th><label for="add"></label></th><td><button id="add" name="add">Add</button><div class="post" style="display: none;"></div></td></tr>
        
        <tr><th><label for="subreddit">Youtube</label></th><td><input  type="text" id="subreddit" name="subreddit"/><div class="post" style="display: none;"></div></td><th><label for="add"></label></th><td><button id="add" name="add">Add</button><div class="post" style="display: none;"></div></td></tr>
        
        <tr><th><label for="subreddit">Newswhip</label></th><td><input  type="text" id="subreddit" name="subreddit"/><div class="post" style="display: none;"></div></td><th><label for="add"></label></th><td><button id="add" name="add">Add</button><div class="post" style="display: none;"></div></td></tr>
    
        
    </table>
    </form>
      
</body>
</html>