<!doctype html>

<html lang="en">
<head>
    <title>ScoopWhoop</title>
<!--
    <script type="text/javascript">
        <!-- Hide the script from old browsers
        function containsblanks(s)
        {
          for(var i = 0; i < s.value.length; i++)  
          { 
              var c = s.value.charAt(i);
              if ((c == ' ') || (c == '\n') || (c == '\t'))
              {
                  alert('The field must not contain whitespace');
                  return false;
              }
          }
          return true;
        } 
    </script>
-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/edit.css">
</head>
    
<body style="background-color: #F5F5F5">
    
    
    
    <div class="container edit_search_main">
        <form action="/logout/" style="display: inline-block; float: right; margin: 30px; margin-right: 50px;">
            <input type="submit" value="Logout" class="btn btn-info">
        </form>
    
    <a href="/" oncontextmenu="return false" style="display: inline-block; float: right; margin: 40px;" >HOME</a>
        <div class="panel-group edit_search">
            <div class="panel panel-success">
                <div class="panel-heading">Search for channel Id here:</div>
                <div class="panel-body">
                    <tr>
                        <td>
                            <input type="text" id = "searchText" placeholder="Enter video id"/>
                            <div class="post" style="display: none;"></div>

                        </td>
                        <th>
                            <label for="search"></label>
                        </th>
                        <td>
                            <button id="searchBtn" name="searchBtn" class="btn btn-success">Search</button>
                            <div class="post" style="display: none;"></div>
                        </td>
                        <td><p id="cid"></p></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>

    
   <div class="container">

        <table style="width:100%; color:#337ab7" >

            <tr>
                <td style="height:250px"></td>
            </tr>

            <tr>
                
                <th>
                    <span class="editErrMsg" id="redditError">Invalid</span>
                    <label>Reddit:</label>
                </th>
        
                <td>
                    <input type="text" id="redditText" placeholder="Enter Subreddit"/> 
                    <div class="post" style="display: none;"></div>
                </td>
                <th>
                    <label for="add"></label>
                </th>
                <td>
                    <button id="redditBtn" name="add" class="btn btn-primary">Add</button>
                    <div class="post" style="display: none;"></div>
                </td>
            
                <th>
                    <span class="editErrMsg" id="twitterError">Invalid</span>
                    <label>Twitter:</label>
                </th>
                <td>
                    <input type="text" id="twitterText" placeholder="Enter Twitter Handles"/>
                    <div class="post" style="display: none;"></div>
                </td>
                <th>
                    <label for="add"></label>
                </th>
                <td>
                    <button id="twitterBtn" name="add" class="btn btn-primary">Add</button>
                    <div class="post" style="display: none;"></div>
                </td>
            
                <th>
                    <span class="editErrMsg" id="youtubeError">Invalid</span>
                    <label>Youtube:</label>
                </th>
                <td>
                    <input type="text" id="youtubeText" placeholder="Enter ChannelId"/>
                    <div class="post" style="display: none;"></div>
                </td>
                <th>
                    <label for="add"></label>
                </th>
                <td>
                    <button id="youtubeBtn" name="youtubeBtn" class="btn btn-primary">Add</button>
                    <div class="post" style="display: none;"></div>
                </td>
            
                <th>
                    <span class="editErrMsg" id="newsError">Invalid</span>
                    <label>ViralStories:</label>
                </th>
                <td>
                    <input type="text" id="newsText" placeholder="Enter tags"/>
                    <div class="post" style="display: none;"></div>
                </td>
                <th>
                    <label for="add"></label>
                </th>
                <td>
                    <button id="newsBtn" name="newsBtn" class="btn btn-primary">Add</button>
                    <div class="post" style="display: none;"></div>
                </td>
            </tr>
            <tr>
                <td style="height:50px"></td>
            </tr>

        </table>

      
       
            
<div class="panel panel-info">
    <table style="width:100%" class="table" >
        
        <thead>
            <tr style="background-color: #337AB7; color: #FFF;">
            <th>Your subreddits:</th>
            <th>Your twitter handles:</th>
            <th>Your youtube channels:</th>
            <th>Your viralStories tags:</th>
            </tr>
        </thead>
    
        <tbody>
        <tr class="active" style="color: #337AB7">
            <td id="reddit_container"></td>
            <td id="twitter_container"></td>
            <td id="youtube_container"></td>
            <td id="news_container"></td>
        </tr>
        </tbody>
    </table>
</div>
    
       
<script>
       var curPage="editPrefrences"
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
<!--<script src="static/js/jquery-1.11.1.min.js"></script>-->
<script src="static/js/edit.js"></script>
    </div>
    </body>
</html>





